{% comment %}
    Renders a product card

    Accepts:
    - card_product: {Object} Product Liquid object (optional)
    - media_aspect_ratio: {String} Size of the product image card. Values are "square" and "portrait". Default is "square" (optional)
    - show_secondary_image: {Boolean} Show the secondary image on hover. Default: false (optional)
    - show_vendor: {Boolean} Show the product vendor. Default: false
    - show_rating: {Boolean} Show the product rating. Default: false
    - extend_height: {Boolean} Card height extends to available container space. Default: true (optional)
    - lazy_load: {Boolean} Image should be lazy loaded. Default: true (optional)
    - show_quick_add: {Boolean} Show the quick add button.
    - section_id: {String} The ID of the section that contains this card.

    Usage:
    {% render 'card-product', show_vendor: section.settings.show_vendor %}
{% endcomment %}

{{ 'component-rating.css' | asset_url | stylesheet_tag }}

{%- if card_product and card_product != empty -%}
  {%- liquid
    assign ratio = 1
    if card_product.featured_media and media_aspect_ratio == 'portrait'
      assign ratio = 0.8
    elsif card_product.featured_media and media_aspect_ratio == 'adapt'
      assign ratio = card_product.featured_media.aspect_ratio
    endif
    if ratio == 0 or ratio == nil
      assign ratio = 1
    endif
  -%}
  <div class="card-wrapper underline-links-hover">
    <div class="card
      card--{{ settings.card_style }}
      {% if card_product.featured_media %} card--media{% else %} card--text{% endif %}
      {% if settings.card_style == 'card' %} color-{{ settings.card_color_scheme }} gradient{% endif %}
      {% if extend_height %} card--extend-height{% endif %}
      {% if card_product.featured_media == nil and settings.card_style == 'card' %} ratio{% endif %}"
      style="--ratio-percent: {{ 1 | divided_by: ratio | times: 100 }}%;"
    >
      <div class="card__inner {% if settings.card_style == 'standard' %}color-{{ settings.card_color_scheme }} gradient{% endif %}{% if card_product.featured_media or settings.card_style == 'standard' %} ratio{% endif %}" style="--ratio-percent: {{ 1 | divided_by: ratio | times: 100 }}%;">
        {%- if card_product.featured_media -%}
        <div class="circle-bg">
        <svg width="122" height="121" viewBox="0 0 122 121" fill="none" xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" clip-rule="evenodd" d="M8.07173 29.3919C0.539677 43.1935 -1.63963 59.7374 2.10863 74.66C4.33656 83.5288 8.86428 92.4342 14.5786 99.1868C19.0455 104.465 25.399 109.781 31.0056 112.932C33.7166 114.455 39.6297 117.203 40.0422 117.131C40.3478 117.078 40.1324 116.97 36.8493 115.524C8.17554 102.892 -5.83145 70.7519 4.02985 40.2173C7.22725 30.3174 13.6803 20.2082 21.472 12.893C25.5516 9.06321 31.4605 4.82931 36.5259 2.10675C37.9502 1.34131 39.156 0.657661 39.2055 0.587414C39.8648 -0.349424 33.3245 3.16442 29.451 5.82831C24.8817 8.97066 20.2417 13.0673 16.7311 17.0588C14.7094 19.3572 9.49566 26.7832 8.07173 29.3919ZM5.89374 36.5087C6.06967 36.3944 6.19588 36.1982 6.17414 36.0732C6.15241 35.9483 6.00855 36.0419 5.8542 36.2814C5.6837 36.5462 5.69922 36.6354 5.89374 36.5087ZM4.34412 40.7344C-1.5832 60.6993 3.41329 84.7436 16.5798 99.6154C19.779 103.229 21.3691 104.625 25.8771 107.776C33.8769 113.367 41.4373 116.343 51.8743 118.009C56.0215 118.671 64.3754 119.256 64.6248 118.902C64.6731 118.833 63.6514 118.753 62.3546 118.724C60.2511 118.678 56.0322 118.32 57.5525 118.317C57.8882 118.317 59.6698 118.32 61.5113 118.325C69.2453 118.344 77.2721 116.715 84.3778 113.685C96.7314 108.416 107.98 98.479 114.299 87.2546C118.937 79.0157 121.534 69.8526 121.734 61.0273C121.823 57.0616 121.378 51.8032 120.839 50.4593C120.65 49.9877 120.703 51.0352 120.956 52.7877C122.689 64.7815 120.378 74.7641 112.956 87.3481C106.044 99.0685 96.2992 107.463 83.7285 112.526C76.9489 115.257 67.4928 117.106 61.4332 116.887C57.9662 116.761 52.1447 116.069 52.0938 115.776C52.0783 115.687 53.1864 115.766 54.556 115.953C66.7666 117.616 79.4521 115.191 90.1857 109.143C97.7896 104.858 103.732 99.4753 108.787 92.2912C120.973 74.9757 122.302 52.8979 112.26 34.636C110.768 31.9237 110.129 31.1152 110.203 32.0315C110.224 32.2994 110.47 32.8731 110.75 33.3063C111.755 34.8633 114.939 43.425 114.88 44.4127C114.87 44.5718 114.335 43.5057 113.691 42.0434C108.159 29.4907 97.4769 19.5659 84.0413 14.4946C65.0758 7.33644 44.233 10.74 29.6339 23.3796C26.8021 25.8316 25.28 27.4339 22.6496 30.7328L20.3723 33.5892L22.2364 30.8717C30.7186 18.505 45.0037 10.4724 60.9692 9.09145C66.1922 8.63968 74.4013 9.4093 79.5095 10.8294C81.9785 11.516 82.6518 11.6083 82.8746 11.2917C83.1487 10.9023 80.6042 9.58695 78.1513 8.85007C75.0013 7.90364 68.7227 6.9239 65.5012 6.8761C56.5572 6.74299 47.7154 8.87036 39.8711 13.0427C38.5114 13.766 37.3161 14.2999 37.2154 14.229C36.8314 13.9588 33.9974 15.3648 31.7959 16.9174C27.1442 20.1983 22.7582 24.4913 19.6025 28.853L18.0665 30.9756L18.852 29.3815C19.4001 28.269 20.4652 26.7732 22.3776 24.4308C27.8532 17.7239 32.9165 13.3352 38.6908 10.2901C40.103 9.54515 41.3444 8.81384 41.4493 8.66473C41.7316 8.26357 44.3886 7.23073 47.234 6.41601C50.2033 5.5656 56.5807 4.47617 59.7295 4.28126C66.7975 3.84362 75.4697 4.9032 82.3911 7.05002C84.3675 7.66304 85.6521 7.78192 84.2521 7.22207C82.2686 6.42938 77.6044 5.2735 73.8447 4.64283C66.7218 3.44847 60.9488 3.40354 53.7065 4.48549C49.4315 5.12453 49.5872 4.8586 54.1663 3.7016C67.2861 0.38639 80.9224 1.76976 93.3244 7.6737C94.6074 8.28433 95.9318 8.97755 96.2676 9.21387C96.6037 9.45034 97.031 9.57866 97.2174 9.49876C97.7777 9.25924 93.2931 6.64889 89.9247 5.25417C76.3382 -0.372525 61.3329 -0.420177 47.0309 5.11705C40.5463 7.62761 30.7633 12.9809 26.7242 16.2288C18.5847 22.7737 11.897 32 8.8084 40.945C8.2337 42.6098 8.12534 42.7816 7.64471 42.7906C6.1397 42.8178 4.56931 50.0236 4.36657 57.8325C3.91357 75.2881 11.3541 91.5271 25.1452 103.183C28.4733 105.995 33.0827 108.913 37.4865 110.994C38.312 111.384 38.3209 111.405 37.6668 111.442C36.9968 111.479 36.9951 111.491 37.5978 111.926C39.0083 112.942 44.5602 114.935 50.5676 116.58C50.9475 116.684 51.0014 116.755 50.739 116.806C50.0838 116.933 43.7962 115.177 40.9382 114.069C35.6159 112.006 33.6138 110.912 28.1725 107.095C21.7343 102.58 18.3395 99.3271 14.4275 93.9245C13.6183 92.8067 12.8031 91.8462 12.6157 91.79C12.1235 91.6425 14.7482 95.3075 16.9809 97.8855C24.3333 106.375 33.8476 112.528 44.6731 115.793C46.2438 116.267 47.5383 116.709 47.5499 116.776C47.59 117.007 42.7902 115.594 39.8162 114.5C31.3239 111.377 22.7045 105.553 16.8893 99.0094C7.82823 88.8133 2.57869 75.2702 2.10984 60.8788C1.90751 54.6735 2.87552 47.1121 4.69131 40.7151C5.29217 38.5976 5.67506 37.0115 5.54195 37.1903C5.40884 37.3691 4.86962 38.9639 4.34412 40.7344ZM21.7542 21.3497C24.2153 18.9316 27.1956 16.4245 29.5473 14.7943C31.361 13.5369 33.208 12.4811 32.0452 13.3664C27.5921 16.7567 19.2212 24.8834 19.36 25.6813C19.3823 25.8092 19.6555 25.5857 19.9673 25.1845C20.2792 24.783 19.3493 26.2964 17.9011 28.5472C14.1371 34.3976 11.6753 39.896 10.1416 45.8771C9.86518 46.9543 9.42317 48.3376 9.15914 48.9508C8.59152 50.2686 8.08303 54.0395 7.94333 57.9632C7.6315 66.7388 9.58675 75.5669 13.6779 83.8539C14.2315 84.9755 14.5922 85.8302 14.4797 85.7536C14.3671 85.677 13.6792 84.4365 12.951 82.997C7.23104 71.6902 5.73165 59.3392 8.62155 47.3372C9.00832 45.731 9.81531 43.1032 10.4151 41.498C11.0146 39.8928 11.3557 38.7832 11.173 39.0325C10.196 40.3645 7.72105 48.4365 7.20961 51.9586C7.08909 52.7894 6.90455 53.484 6.79954 53.5022C6.69453 53.5205 6.91281 51.5063 7.28469 49.0266C8.14319 43.3022 9.20837 40.2104 12.6537 33.4422C13.5767 31.6293 20.0601 23.0143 21.7542 21.3497ZM12.1633 36.978C12.3316 36.8693 12.5065 36.6208 12.5519 36.4258C12.5977 36.2307 12.46 36.3198 12.2462 36.6236C12.0325 36.9273 11.9953 37.0867 12.1633 36.978ZM11.6069 38.238C11.7753 38.1292 11.9502 37.8807 11.9956 37.6858C12.0413 37.4907 11.9037 37.5798 11.6899 37.8835C11.4762 38.1873 11.4389 38.3467 11.6069 38.238ZM25.642 29.275C37.3365 15.9819 55.2078 9.67904 73.3317 12.4557C90.974 15.1584 106.564 27.151 113.389 43.2701C116.281 50.0985 117.053 54.0784 116.86 61.1568C116.671 68.0717 115.497 73.1388 113.07 77.519C112.358 78.8035 112.358 78.7808 113.079 76.2044C113.983 72.9739 114.216 71.6168 114.659 66.9844C115.18 61.546 115.074 58.3839 114.203 53.3793C113.079 46.9147 111.056 41.5219 107.797 36.2963C105.458 32.5469 104.587 32.2218 106.564 35.8361C110.67 43.3418 112.801 52.3934 112.562 61.3074C112.479 64.3883 111.732 69.6155 110.956 72.5383C110.468 74.3776 110.437 74.4312 110.276 73.7204C110.109 72.9778 110.107 72.9778 109.804 73.7431C109.636 74.1654 109.469 74.7188 109.433 74.9731C109.28 76.0461 106.303 82.1976 104.449 85.2749C99.8667 92.8791 91.9618 100.61 86.3727 102.952C83.9155 103.982 77.5504 106.081 77.5144 105.873C77.4995 105.787 78.832 105.126 80.476 104.404C85.3892 102.247 89.7144 99.4579 93.4182 96.0588C95.8101 93.864 100.459 87.5235 102.182 84.107C104.26 79.9874 106.865 71.5012 106.197 71.0308C105.935 70.8464 105.909 70.9019 105.508 72.5596C104.573 76.4178 101.576 82.8236 98.9779 86.515C95.0667 92.0729 89.2607 97.2106 83.2415 100.44C80.1883 102.078 75.1281 104.081 74.9709 103.713C74.9098 103.57 74.3441 103.667 73.7141 103.93C67.8584 106.367 58.5908 106.663 50.3376 104.676C43.3275 102.989 38.2983 100.334 30.358 94.131C26.6323 91.2204 21.8574 84.5341 19.2186 78.5328C18.6371 77.2101 17.9758 75.9975 17.749 75.8379C17.2172 75.4637 15.9746 71.6086 15.0825 67.5645C14.6186 65.4627 14.4095 63.3972 14.4657 61.4718C14.5601 58.2395 15.3503 52.4681 15.7071 52.4061C15.833 52.3844 15.8308 53.0874 15.7021 53.9688C15.0589 58.3732 15.4341 64.7104 16.6275 69.6041C18.4745 77.1765 22.0591 83.8282 27.4181 89.6259C29.0992 91.4444 30.0502 92.2227 33.9164 94.9434C37.753 97.6434 38.8405 98.2977 41.0288 99.2232C48.4933 102.38 55.9172 103.359 63.5444 102.194C65.5525 101.887 67.2626 101.54 67.3445 101.424C67.4266 101.307 66.0551 101.408 64.2968 101.648C49.4245 103.673 34.9064 97.5948 25.6183 85.4536C21.22 79.7045 17.9182 71.2717 17.2197 64.0028C17.018 61.9048 17.1232 60.1688 17.657 56.781C19.3444 46.0728 23.1484 37.6524 29.3986 30.7894C29.8731 30.2681 30.313 29.6116 30.3759 29.3302C30.4747 28.8894 30.3832 28.8799 29.7113 29.2615C28.9511 29.6936 28.9543 29.6801 29.8456 28.7027C31.0006 27.4356 34.2495 25.0383 37.0982 23.3513C38.3082 22.6346 39.4646 21.8134 39.6679 21.5264C39.8714 21.2395 41.0486 20.5304 42.2838 19.951C55.8486 13.5888 71.7052 14.1295 85.0055 21.4072C88.0384 23.0669 93.4837 27.1562 95.8353 29.54C98.3352 32.0745 100.979 35.4294 102.884 38.4838C103.822 39.9895 104.782 41.5224 105.016 41.8903C105.25 42.2579 105.561 42.5382 105.708 42.5125C106.674 42.3447 103.961 36.7588 100.939 32.6909C98.1725 28.9668 95.7218 26.5905 91.3622 23.4053C85.7021 19.2695 81.2013 17.1 74.8358 15.4391C67.3176 13.4775 60.3024 13.2652 52.6625 14.7676C47.8945 15.7054 43.8925 17.138 39.6641 19.4204C34.3695 22.2786 30.6191 25.2322 26.6254 29.689C24.5222 32.0361 18.5664 40.8348 17.9083 42.5671C17.6667 43.2024 17.2909 43.904 17.073 44.1262C16.4803 44.7304 18.0233 41.0118 19.5583 38.136C21.2636 34.9405 23.4163 31.8051 25.642 29.275ZM18.9681 65.1651C19.9559 75.7319 25.1849 85.5212 33.2613 91.9249C35.6016 93.7806 39.6936 96.1724 40.945 96.4159C41.4241 96.5093 41.3814 96.4502 40.7404 96.1332C35.8157 93.6974 32.9643 91.6498 29.7888 88.269C24.4017 82.5328 21.4438 76.3678 19.9248 67.7088C19.4217 64.8412 18.9456 62.5065 18.8665 62.5203C18.7878 62.5339 18.8334 63.724 18.9681 65.1651ZM11.9202 81.8613C12.0571 82.0653 12.0883 82.2462 11.9897 82.2633C11.8911 82.2805 11.7503 82.1543 11.6773 81.983C11.478 81.5171 11.636 81.438 11.9202 81.8613ZM12.8267 83.6041C13.3612 84.6161 13.452 85.0367 13.079 84.7712C12.8469 84.6062 12.0761 82.7931 12.1771 82.6495C12.2228 82.5846 12.5151 83.0142 12.8267 83.6041ZM14.6569 86.9141C15.2277 87.8863 16.6797 90.0284 17.8834 91.6742C19.0872 93.32 19.7698 94.3566 19.4007 93.9776C17.9459 92.4844 13.0775 85.2408 13.4817 85.1705C13.5572 85.1572 14.0861 85.942 14.6569 86.9141ZM20.6252 95.1422C20.7517 95.3366 20.6625 95.3521 20.3977 95.1816C20.1581 95.0272 20.0645 94.8833 20.1894 94.8616C20.3144 94.8399 20.5106 94.9661 20.6252 95.1422ZM22.3926 96.386C22.5191 96.5804 22.4299 96.5959 22.1651 96.4253C21.9255 96.271 21.8319 96.1271 21.9568 96.1054C22.0818 96.0837 22.278 96.2099 22.3926 96.386ZM25.552 99.3614C30.1086 103.461 37.2026 107.836 43.2458 110.273C44.4346 110.753 45.4197 111.217 45.4348 111.305C45.461 111.455 44.0836 111.018 41.5033 110.056C37.4617 108.55 30.3994 104.447 27.5139 101.929C25.6551 100.307 22.4525 96.9886 22.7039 96.9449C22.7784 96.932 24.0603 98.0193 25.552 99.3614ZM40.5589 117.3C41.2283 117.83 47.0909 119.35 50.8295 119.963C57.6765 121.085 64.7133 120.966 71.4873 119.615C74.5432 119.006 79.6862 117.466 81.5451 116.604L82.3939 116.211L81.4344 116.504C80.907 116.665 79.0291 117.276 77.2612 117.861C73.2675 119.183 66.77 120.325 62.5464 120.447C55.4081 120.653 50.2901 119.993 43.3143 117.968C41.6548 117.486 40.415 117.186 40.5589 117.3ZM48.9681 116.975C49.0896 117.061 48.9721 117.122 48.707 117.112C48.4419 117.101 48.1255 117.022 48.004 116.937C47.8825 116.851 48 116.79 48.2651 116.801C48.5302 116.811 48.8466 116.89 48.9681 116.975ZM51.621 115.552C51.7425 115.638 51.4935 115.675 51.0675 115.635C50.6415 115.595 50.1936 115.492 50.0721 115.406C49.9506 115.321 50.1997 115.284 50.6256 115.324C51.0516 115.364 51.4995 115.467 51.621 115.552ZM58.5612 109.128C62.9893 109.282 68.294 108.83 73.2101 107.878C78.0141 106.947 78.13 107.067 73.5664 108.244C68.6468 109.512 61.5503 109.964 56.669 109.318C54.3172 109.007 54.5163 108.987 58.5612 109.128ZM52.7637 117.684C52.8852 117.77 52.3685 117.764 51.6158 117.672C50.863 117.58 50.1475 117.435 50.026 117.35C49.9045 117.264 50.4212 117.269 51.1739 117.361C51.9267 117.453 52.6421 117.599 52.7637 117.684ZM91.972 104.72C97.3869 101.233 102.838 95.7126 107.809 88.6805C109.649 86.078 110.638 84.817 110.312 85.4872C110.016 86.0965 108.519 88.3872 106.985 90.5777C103.19 95.9974 99.7534 99.5962 95.0061 103.122C92.6371 104.881 85.8697 108.789 84.5652 109.151C84.1949 109.254 85.2245 108.612 86.8532 107.723C88.4818 106.836 90.7852 105.484 91.972 104.72ZM87.2485 113.673C87.9001 113.429 93.9758 109.702 94.8901 108.985C96.0092 108.108 94.9951 108.655 92.3061 110.379C90.79 111.351 88.9485 112.465 88.2141 112.856C86.7656 113.625 86.2826 114.034 87.2485 113.673ZM110.385 82.3249C110.406 82.4498 110.28 82.6461 110.104 82.7604C109.91 82.8871 109.894 82.7979 110.065 82.5331C110.219 82.2936 110.363 82.1999 110.385 82.3249ZM97.219 107.321C97.465 107.222 97.7659 106.988 97.8873 106.801C98.0331 106.577 97.938 106.566 97.6077 106.769C96.9194 107.193 96.6739 107.542 97.219 107.321ZM100.889 104.454C101.164 104.284 101.494 103.996 101.623 103.814C101.769 103.605 101.671 103.597 101.355 103.791C101.08 103.961 100.749 104.249 100.621 104.431C100.474 104.639 100.573 104.648 100.889 104.454ZM103.085 102.593C103.261 102.478 103.387 102.282 103.365 102.157C103.343 102.032 103.199 102.126 103.045 102.366C102.875 102.63 102.89 102.72 103.085 102.593ZM104.337 101.431C104.648 101.196 105.043 100.804 105.214 100.561C105.46 100.211 105.407 100.208 104.959 100.547C104.648 100.783 104.254 101.174 104.083 101.417C103.836 101.767 103.889 101.77 104.337 101.431ZM106.424 99.4312C106.867 99.016 107.398 98.4238 107.605 98.1151C107.846 97.7552 107.692 97.8246 107.176 98.309C106.734 98.7242 106.202 99.3164 105.996 99.6251C105.754 99.9851 105.908 99.9157 106.424 99.4312Z" fill="#{{product.metafields.custom.couleur_type_biere}}"/>
</svg>

        </div>
          <div class="card__media">
            <div class="media media--transparent media--hover-effect">
              {% comment %}theme-check-disable ImgLazyLoading{% endcomment %}
              <img
                srcset="{%- if card_product.featured_media.width >= 165 -%}{{ card_product.featured_media | image_url: width: 165 }} 165w,{%- endif -%}
                  {%- if card_product.featured_media.width >= 360 -%}{{ card_product.featured_media | image_url: width: 360 }} 360w,{%- endif -%}
                  {%- if card_product.featured_media.width >= 533 -%}{{ card_product.featured_media | image_url: width: 533 }} 533w,{%- endif -%}
                  {%- if card_product.featured_media.width >= 720 -%}{{ card_product.featured_media | image_url: width: 720 }} 720w,{%- endif -%}
                  {%- if card_product.featured_media.width >= 940 -%}{{ card_product.featured_media | image_url: width: 940 }} 940w,{%- endif -%}
                  {%- if card_product.featured_media.width >= 1066 -%}{{ card_product.featured_media | image_url: width: 1066 }} 1066w,{%- endif -%}
                  {{ card_product.featured_media | image_url }} {{ card_product.featured_media.width }}w"
                src="{{ card_product.featured_media | image_url: width: 533 }}"
                sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 130 | divided_by: 4 }}px, (min-width: 990px) calc((100vw - 130px) / 4), (min-width: 750px) calc((100vw - 120px) / 3), calc((100vw - 35px) / 2)"
                alt="{{ card_product.featured_media.alt | escape }}"
                class="motion-reduce"
                {% unless lazy_load == false %}loading="lazy"{% endunless %}
                width="{{ card_product.featured_media.width }}"
                height="{{ card_product.featured_media.height }}"
              >
              {% comment %}theme-check-enable ImgLazyLoading{% endcomment %}

              {%- if card_product.media[1] != nil and show_secondary_image -%}
                <img
                  srcset="{%- if card_product.media[1].width >= 165 -%}{{ card_product.media[1] | image_url: width: 165 }} 165w,{%- endif -%}
                    {%- if card_product.media[1].width >= 360 -%}{{ card_product.media[1] | image_url: width: 360 }} 360w,{%- endif -%}
                    {%- if card_product.media[1].width >= 533 -%}{{ card_product.media[1] | image_url: width: 533 }} 533w,{%- endif -%}
                    {%- if card_product.media[1].width >= 720 -%}{{ card_product.media[1] | image_url: width: 720 }} 720w,{%- endif -%}
                    {%- if card_product.media[1].width >= 940 -%}{{ card_product.media[1] | image_url: width: 940 }} 940w,{%- endif -%}
                    {%- if card_product.media[1].width >= 1066 -%}{{ card_product.media[1] | image_url: width: 1066 }} 1066w,{%- endif -%}
                    {{ card_product.media[1] | image_url }} {{ card_product.media[1].width }}w"
                  src="{{ card_product.media[1] | image_url: width: 533 }}"
                  sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 130 | divided_by: 4 }}px, (min-width: 990px) calc((100vw - 130px) / 4), (min-width: 750px) calc((100vw - 120px) / 3), calc((100vw - 35px) / 2)"
                  alt="{{ card_product.media[1].alt | escape }}"
                  class="motion-reduce"
                  loading="lazy"
                  width="{{ card_product.media[1].width }}"
                  height="{{ card_product.media[1].height }}"
                >
              {%- endif -%}
            </div>
          </div>
        {%- endif -%}
        <div class="card__content">
          <div class="card__information">
            <h3 class="card__heading"{% if card_product.featured_media == nil and settings.card_style == 'standard' %} id="title-{{ section_id }}-{{ card_product.id }}"{% endif %}>
              <a href="{{ card_product.url }}" class="full-unstyled-link">
                {{ card_product.title | escape }}
              </a>
            </h3>
            
          </div>
          <div class="card__badge {{ settings.badge_position }}">
            {%- if card_product.available == false -%}
              <span class="badge badge--bottom-left color-{{ settings.sold_out_badge_color_scheme }}">{{ 'products.product.sold_out' | t }}</span>
            {%- elsif card_product.compare_at_price > card_product.price and card_product.available -%}
              <span class="badge badge--bottom-left color-{{ settings.sale_badge_color_scheme }}">{{ 'products.product.on_sale' | t }}</span>
            {%- endif -%}
          </div>
        </div>
      </div>
      <div class="card__content">
        <div class="card__information">
          <h3 class="card__heading{% if card_product.featured_media or settings.card_style == 'standard' %} h5{% endif %}"{% if card_product.featured_media or settings.card_style == 'card' %} id="title-{{ section_id }}-{{ card_product.id }}"{% endif %}>
            <a href="{{ card_product.url }}" class="full-unstyled-link">
              {{ card_product.title | escape }}
            </a>
          </h3>
          <h4 class="sous-titre_card-product">
            	  {{ card_product.metafields.custom.sous_titre  | escape }}
          </h4>
          <h5 class="chap2_card-product">
            	{{ card_product.metafields.custom.chapo2  | escape }}
          </h5>

          <div class="card-information">
            {%- if show_vendor -%}
              <span class="visually-hidden">{{ 'accessibility.vendor' | t }}</span>
              <div class="caption-with-letter-spacing light">{{ card_product.vendor }}</div>
            {%- endif -%}

            <span class="caption-large light">{{ block.settings.description | escape }}</span>

            {%- if show_rating and card_product.metafields.reviews.rating.value != blank -%}
              {% liquid
                assign rating_decimal = 0
                assign decimal = card_product.metafields.reviews.rating.value.rating | modulo: 1
                if decimal >= 0.3 and decimal <= 0.7
                  assign rating_decimal = 0.5
                elsif decimal > 0.7
                  assign rating_decimal = 1
                endif
              %}
              <div class="rating" role="img" aria-label="{{ 'accessibility.star_reviews_info' | t: rating_value: card_product.metafields.reviews.rating.value, rating_max: card_product.metafields.reviews.rating.value.scale_max }}">
                <span aria-hidden="true" class="rating-star color-icon-{{ settings.accent_icons }}" style="--rating: {{ card_product.metafields.reviews.rating.value.rating | floor }}; --rating-max: {{ card_product.metafields.reviews.rating.value.scale_max }}; --rating-decimal: {{ rating_decimal }};"></span>
              </div>
              <p class="rating-text caption">
                <span aria-hidden="true">{{ card_product.metafields.reviews.rating.value }} / {{ card_product.metafields.reviews.rating.value.scale_max }}</span>
              </p>
              <p class="rating-count caption">
                <span aria-hidden="true">({{ card_product.metafields.reviews.rating_count }})</span>
                <span class="visually-hidden">{{ card_product.metafields.reviews.rating_count }} {{ "accessibility.total_reviews" | t }}</span>
              </p>
            {%- endif -%}

            {% render 'price', product: card_product, price_class: '' %}
          </div>
        </div>
        {%- if show_quick_add -%}
          <div class="quick-add">
            {%- assign product_form_id = 'quick-add-' | append: section_id | append: card_product.id -%}
            {%- if card_product.has_only_default_variant -%}
              <product-form>
                {%- form 'product', card_product, id: product_form_id, class: 'form', novalidate: 'novalidate', data-type: 'add-to-cart-form' -%}
                  <input type="hidden" name="id" value="{{ card_product.selected_or_first_available_variant.id }}" disabled>
                  <button
                    id="{{ product_form_id }}-submit"
                    type="submit"
                    name="add"
                    class="quick-add__submit button button--full-width button--secondary"
                    aria-haspopup="dialog"
                    aria-labelledby="{{ product_form_id }}-submit title-{{ section_id }}-{{ card_product.id }}"
                    aria-live="polite"
                    data-sold-out-message="true"
                    {% if card_product.selected_or_first_available_variant.available == false %}disabled{% endif %}
                  >
                    <span>
                      {%- if card_product.selected_or_first_available_variant.available -%}
                        {{ 'products.product.add_to_cart' | t }}
                      {%- else -%}
                        {{ 'products.product.sold_out' | t }}
                      {%- endif -%}
                    </span>
                    <span class="sold-out-message hidden">
                      {{ 'products.product.sold_out' | t }}
                    </span>
                    <div class="loading-overlay__spinner hidden">
                      <svg aria-hidden="true" focusable="false" role="presentation" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                        <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                      </svg>
                    </div>
                  </button>
                {%- endform -%}
              </product-form>
            {%- else -%}
              <modal-opener data-modal="#QuickAdd-{{ card_product.id }}">
                <button
                  id="{{ product_form_id }}-submit"
                  type="submit"
                  name="add"
                  class="quick-add__submit button button--full-width button--secondary"
                  aria-haspopup="dialog"
                  aria-labelledby="{{ product_form_id }}-submit title-{{ section_id }}-{{ card_product.id }}"
                  data-product-url="{{ card_product.url }}"
                >
                  {{ 'products.product.choose_options' | t }}
                  <div class="loading-overlay__spinner hidden">
                    <svg aria-hidden="true" focusable="false" role="presentation" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                      <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                    </svg>
                  </div>
                </button>
              </modal-opener>
              <quick-add-modal id="QuickAdd-{{ card_product.id }}" class="quick-add-modal">
                <div role="dialog" aria-label="{{ 'products.product.choose_product_options' | t: product_name: card_product.title | escape }}" aria-modal="true" class="quick-add-modal__content global-settings-popup" tabindex="-1">
                  <button id="ModalClose-{{ card_product.id }}" type="button" class="quick-add-modal__toggle" aria-label="{{ 'accessibility.close' | t }}">{% render 'icon-close' %}</button>
                  <div id="QuickAddInfo-{{ card_product.id }}" class="quick-add-modal__content-info">
                  </div>
                </div>          
              </quick-add-modal>
            {%- endif -%}
          </div>
        {%- endif -%}
        <div class="card__badge {{ settings.badge_position }}">
          {%- if card_product.available == false -%}
            <span class="badge badge--bottom-left color-{{ settings.sold_out_badge_color_scheme }}">{{ 'products.product.sold_out' | t }}</span>
          {%- elsif card_product.compare_at_price > card_product.price and card_product.available -%}
            <span class="badge badge--bottom-left color-{{ settings.sale_badge_color_scheme }}">{{ 'products.product.on_sale' | t }}</span>
          {%- endif -%}
        </div>
      </div>
    </div>
  </div>
{%- else -%}
  <div class="card-wrapper underline-links-hover">
    <div class="card
      card--{{ settings.card_style }}
      card--text
      {% if extend_height %} card--extend-height{% endif %}
      {% if settings.card_style == 'card' %} color-{{ settings.card_color_scheme }} gradient{% endif %}
      {% if card_product.featured_media == nil and settings.card_style == 'card' %} ratio{% endif %}"
      style="--ratio-percent: 100%;"
    >
      <div class="card__inner {% if settings.card_style == 'standard' %}color-{{ settings.card_color_scheme }} gradient{% endif %}{% if settings.card_style == 'standard' %} ratio{% endif %}" style="--ratio-percent: 100%;">
        <div class="card__content">
          <div class="card__information">
            <h3 class="card__heading">
              <a role="link" aria-disabled="true" class="full-unstyled-link">
                {{ 'onboarding.product_title' | t }}
              </a>             
            </h3>
          </div>
        </div>
      </div>
      <div class="card__content">
        <div class="card__information">
          <h3 class="card__heading{% if settings.card_style == 'standard' %} h5{% endif %}">
            <a role="link" aria-disabled="true" class="full-unstyled-link">
              {{ 'onboarding.product_title' | t }}
            </a>
          </h3>
          <div class="card-information">
            {%- if show_vendor -%}
              <span class="visually-hidden">{{ 'accessibility.vendor' | t }}</span>
              <div class="caption-with-letter-spacing light">{{ 'products.product.vendor' | t }}</div>
            {%- endif -%}
            {% render 'price' %}
          </div>
        </div>
      </div>
    </div>
  </div>
{%- endif -%}


