{%for block in section.blocks %}
<div class="section-nosbieres-container-principal">
      
  	<div class="section-nosbieres-container-secondaire-texte">
        <h2 class="section-nosbieres-titre-petit">{{block.settings.heading-1}}</h2>
        <h2 class="section-nosbieres-titre-normal">{{block.settings.heading-2}}</h2>
        <h2 class="section-nosbieres-sous-titre">{{block.settings.heading-3}}</h2>
        <p class="section-nosbieres-description">{{block.settings.description}}</p>
        <button class="section-nosbieres-btn">NOS BIERES{{block.settings.lien-1}}</button>
    </div>    

    <div class="section-nosbieres-container-secondaire-image">
        <img class="section-nosbieres-image-produit" src="{{block.settings.image-produit | img_url:'master'}}" alt="">
    </div>
  
</div>
{%endfor%}

{% stylesheet %}

.section-nosbieres-container-principal {
	background-image: url({{block.settings.image-nos-bieres-bg | img_url:'master'}});
    background-repeat: no-repeat;
    background-size: cover;
	padding-left: 150px;
	padding-right: 150px;
	display:flex;
}

section-nosbieres-container-principal{
	max-height:900px;
}

.section-nosbieres-titre-petit{
    font-size: 45px;
}

.section-nosbieres-titre-normal{
    font-size: 50px;
}

.section-nosbieres-sous-titre{
    font-size: 35px;
}

.section-nosbieres-description{
    font-size: 20px;
}

.section-nosbieres-container-secondaire-texte {
    width: 400px;
}

.section-nosbieres-image-produit{
    width: 200px;
}

.section-nosbieres-btn {
	margin-top : 30px;
	width: 206.87px;
	height: 57px;
	font-size: 20px;
	font-family: "League spartan", sans-serif;
	color: white;
	background: rgba(255, 255, 255, 0.4);
	border: 1px;
}

@media (max-width:640px){
}

@media (max-width:1024px){
}

@media (max-width: 1920px){
}

@media (min-width: 1920px){
}

{% endstylesheet %}

{% schema %}
{
    "name": "section nos bieres",
    "class": "section",
    "settings": [
        {
            "type":"text",
            "label":"section nos bieres",
            "id":"heading-1"
        }
    ],
    "blocks":[
        {
            "type":"text",
            "name":"section nos bieres",
            "settings":[
                {
                    "type":"text",
                    "label":"heading-2",
                    "id":"heading-2"
                },
                {
                    "type":"text",
                    "label":"heading-3",
                    "id":"heading-3"
                },
                {
                    "type":"text",
                    "label":"description",
                    "id":"description"
                },
                {
                    "type": "text",            
                    "label": "bouton-texte",
                    "id": "bouton-texte"
                },
                {
                    "type": "url",            
                    "label": "lien-1",
                    "id": "lien-1"
                },
                {
                    "type":"image_picker",
                    "label":"image-produit",
                    "id":"image-produit"
                },
				{
                    "type":"image_picker",
                    "label":"image-nos-bieres-bg",
                    "id":"image-nos-bieres-bg"
                }
            ]
        }        
    ],
"presets" : [
    {
        "category":"image",
        "name": "section nos bieres" 
    }
]
}
{% endschema %}
