{%for block in section.blocks %}
    <div class="section-story" >
    <img class ="section-story-image" src="{{block.settings.section-story-image | img_url:'master'}}"/>
        <div class="section-story-container">

            <h2 class ="section-story-title" >{{block.settings.section-story-title}}</h2>
            <div class ="section-story-chapo" >{{block.settings.section-story-chapo}}</div>
            <div class ="section-story-content" >{{block.settings.section-story-content}}</div>
            <div class ="section-story-author" >{{block.settings.section-story-author}}</div>
        </div>

    </div>
{%endfor%}

{% style %}

.section-story {
    height: 100vh;
    width: 100vw;
    text-align: center;
}

.section-story-chapo, .section-story-title, .section-story-content, .section-story-author {
    padding:2%;
} 

.section-story-content {
    padding: 2%;
    width: 50%;
    margin: auto;
}
.section-story-container {
    position:relative;
    top: -130%;
}

.section-story-image {
    width:100vw;
}


{% endstyle %}

{% schema %}
{
    "name": "home story",
    "class" : "section",
    "settings": [
        {
            "type":"text",
            "label":"home story",
            "id":"heading"
        }
    ],
    "blocks": [
        {
            "type":"text",
            "name":"home story",
            "settings":[
            {
                "type":"image_picker",
                "label":"section story image",
                "id":"section-story-image"
            },
                        {
                            "type":"text",
                            "label":"section story title",
                            "id":"section-story-title"
                        },
                        {
                            "type":"text",
                            "label":"chapo",
                            "id":"section-story-chapo"
                        },

{
                            "type": "text",
                            "id": "section-story-content",
                            "label": "section story content"

                        },

                        {
                            "type": "text",
                            "id": "section-story-author",
                            "label": "section story author"

                        }
                    ]
     } 
],
"presets" : [
                    {
                        "category":"image",
                        "name": "home story" 
                    }
                    ]

}
{% endschema %}


