{%for block in section.blocks %}
<div class="page-service">
    <div style="background-image: url('{{block.settings.bg-header | img_url:'master'}}');" class="header-service-container">
        <h1>{{block.settings.titre-page}}</h1>
      	<span class="separation-sous-titre"></span>
        <p class="mundane">{{block.settings.sous-titre-page}}</p>
    </div>
  <div class="visite-h2">
      <h2 class="mundane rendre-visite">{{block.settings.rendre-visite}}</h2>
    	<span class="separation-sous-titre"></span>
  </div>
    <div class="louer-tireuse">
        <div style="background-image: url('{{block.settings.img-location | img_url:'master'}}');" class="img-louer-tireuse">
      	</div>
        <div class="louer-tireuse-text-container">
            <h3 class="mundane">{{block.settings.location-titre}}</h3>
            <span class="separation-sous-titre"></span>
            <p>{{block.settings.location-texte}}</p>
            <ul>
                <li>{{block.settings.location-taille-1}}</li>
                <li>{{block.settings.location-taille-2}}</li>
                <li>{{block.settings.location-taille-3}}</li>
            </ul>
            <p class="caution">{{block.settings.caution}}</p>
        </div>
    </div>

    <!-- div deja faite avant, la mettre ici -->
    <div class="visite-brasserie">
        <div style="background-image: url('{{block.settings.img-atelier | img_url:'master'}}');" class="img-visite-brasserie">{{block.settings.img-atelier}}</div>
        <div class="visite-brasserie-text-container">
            <h3 class="mundane">{{block.settings.titre-atelier}}</h3>
            <p>{{block.settings.text-atelier}}</p>
            <div class="time-price">
                <p>{{block.settings.time-atelier}}</p>
                <p>{{block.settings.prix-atelier}}</p>
            </div>
        </div>
    </div>
    <div class="take-rdv">
        <h2 class="mundane">{{block.settings.titre-rdv}}</h2>
        <span></span>
        <ul>
            <li>
                <h4>{{block.settings.titre-en-personne}}</h4>
                <p>{{block.settings.text-en-personne}}</p>
            </li>
            <li>
                <h4>{{block.settings.titre-tel}}</h4>
                <p>{{block.settings.text-tel}}</p>
            </li>
            <li>
                <h4>{{block.settings.titre-mail}}</h4>
                <p>{{block.settings.text-mail}}</p>
            </li>
        </ul>
    </div>
</div>
{%endfor%}

{% style %}

.page-service {
  	height: 400vh;
    background: green;
}

.visite-h2 {
	display: flex;
	flex-direction: column;
    position: relative;
    margin-inline: auto;
    font-size: 74px;
    justify-content: center;
    align-items: center;

}


.header-service-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
	height: 553px;
}

.header-service-container h1 {
	font-size: 75px;
    font-weight: 600;
}

.header-service-container span {
	height: 1px;
	width: 400px;
	margin-block: 20px;
	background: white;
}

.header-service-container p {
	font-size: 45px;
    text-align: center;
}

.louer-tireuse {
	display:flex;
    justify-content: center;
    align-items: center;
    height: 577px;
}


.img-louer-tireuse {
	height: 577px;
	width: 603px;
}

.louer-tireuse-text-container {
    background: rgba(70, 70, 70, 0.45);
	background: gold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
	width: 80%;
	height: 100%;
}

.louer-tireuse-text-container h3 {
	font-size: 64px;
	margin-bottom: 10px;
}

.separation-sous-titre {
	width: 400px;
    height: 1px;
	margin-block: 20px;
    background-color: rgba(255, 255, 255, 1);
}

.louer-tireuse-text-container span {
    width: 100px;
    height: 1px;
	margin-bottom: 10px;
    background-color: rgba(255, 255, 255, 1);
}

.louer-tireuse-text-container ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.louer-tireuse-text-container li {
    border: 2px solid rgba(255, 255, 255, 1);
}

.caution {
    margin-top: 30px;
}


.visite-brasserie {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
}

.img-visite-brasserie {
	height: 200px;
}

.visite-brasserie-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.time-price {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}


{% endstyle %}

{% schema %}
{
    "name": "page-service",
    "class" : "section",
    "settings": [
        {
            "type":"text",
            "label":"edit-page-service",
            "id":"heading"
        }
    ],
    "blocks": [
        {
            "type":"text",
            "name":"edit-page-service",
            "settings":[
                        {
                            "type":"image_picker",
                            "label":"bg-header",
                            "id":"bg-header"
                        },
                        {
                            "type":"text",
                            "label":"titre-page",
                            "id":"titre-page"
                        },
                        {
                            "type":"text",
                            "label":"sous-titre-page",
                            "id":"sous-titre-page"
                        },
                        {
                            "type":"text",
                            "label":"rendre-visite",
                            "id":"rendre-visite"
                        },
                        {
                            "type":"image_picker",
                            "label":"img-location",
                            "id":"img-location"
                        },
                        {
                            "type":"text",
                            "label":"location-titre",
                            "id":"location-titre"
                        },
                        {
                            "type":"text",
                            "label":"location-texte",
                            "id":"location-texte"
                        },
                        {
                            "type":"text",
                            "label":"location-taille-1",
                            "id":"location-taille-1"
                        },
                        {
                            "type":"text",
                            "label":"location-taille-2",
                            "id":"location-taille-2"
                        },
                        {
                            "type":"text",
                            "label":"location-taille-3",
                            "id":"location-taille-3"
                        },
                        {
                            "type":"text",
                            "label":"caution",
                            "id":"caution"
                        },
                        {
                            "type":"image_picker",
                            "label":"img-atelier",
                            "id":"img-atelier"
                        },
                        {
                            "type":"text",
                            "label":"titre-atelier",
                            "id":"titre-atelier"
                        },
                        {
                            "type":"text",
                            "label":"text-atelier",
                            "id":"text-atelier"
                        },
                        {
                            "type":"text",
                            "label":"time-atelier",
                            "id":"time-atelier"
                        },
                        {
                            "type":"text",
                            "label":"prix-atelier",
                            "id":"prix-atelier"
                        },
                        {
                            "type":"text",
                            "label":"titre-visite",
                            "id":"titre-visite"
                        },
                        {
                            "type":"text",
                            "label":"text-visite",
                            "id":"text-visite"
                        },
                        {
                            "type":"text",
                            "label":"time-visite",
                            "id":"time-visite"
                        },
                        {
                            "type":"text",
                            "label":"prix-visite",
                            "id":"prix-visite"
                        },
                        {
                            "type":"text",
                            "label":"titre-rdv",
                            "id":"titre-rdv"
                        },
                        {
                            "type":"text",
                            "label":"titre-en-personne",
                            "id":"titre-en-personne"
                        },
                        {
                            "type":"text",
                            "label":"text-en-personne",
                            "id":"text-en-personne"
                        },
                        {
                            "type":"text",
                            "label":"titre-tel",
                            "id":"titre-tel"
                        },
                        {
                            "type":"text",
                            "label":"text-tel",
                            "id":"text-tel"
                        },
                        {
                            "type":"text",
                            "label":"titre-mail",
                            "id":"titre-mail"
                        },
                        {
                            "type":"text",
                            "label":"text-mail",
                            "id":"text-mail"
                        }
                    ]
     } 
],
"presets" : [
                    {
                        "category":"image",
                        "name": "page-service" 
                    }
                    ]

}
{% endschema %}

