{%for block in section.blocks %}
<div class="product-description-container">
    <div class="aromatic-suggestion-container">

        <div class = "aromatic-profil-container">
            <h2>Profil Aromatique</h2>
                <div class="description-aromatic-profil">
         
                  {{product.metafields.custom.profile_aromatique | escape}}

          </div>
        </div>
        <div class="suggestion-food-container">
            <h2>En accompagnement</h2>
                <div class="description-suggestion-food">{{product.metafields.custom.accompagnement | escape}}</div>
        </div>
    </div>
    <img class ="description-graphique" src="{{product.metafields.custom.graphique | img_url:'master'}}"/>
    <div class="ingredients-container">
        <h2>Ingrédients</h2>
            <h3>Graines</h3>
                <div class="description-composition-seed">{{product.metafields.custom.grains | escape}}</div>
            <h3>Houblons</h3>
                <div class="description-composition-hops">{{product.metafields.custom.houblons | escape}}</div>
            <h3>Levures</h3>
                <div class="description-composition-yeast">{{product.metafields.custom.levure | escape}}</div>
    </div>
</div>
{%endfor%}

{% style %}

.product-description-container h2 {
	width:fit-content;
    color: black;
	font-size: 23px;
	background-color:{{product.metafields.custom.couleur_type_biere}};
}

.product-description-container h3 {
	color: black;
    font-size: 20px;
    font-weight: 500;
}


.product-description-container {
    display: flex;
    background-color:rgba(255, 255, 255, 1);
	justify-content: space-around;
	padding: 2%;
	color: black;
}

.aromatic-suggestion-container {
    display: flex;
    flex-direction: column;
	width: 30%;
}

.aromatic-profil-container{
	margin-bottom: 20px;
}

.ingredients-container {
	width:30%;
}


.description-aromatic-profil,
.description-suggestion-food,
.description-composition-seed,
.description-composition-hops,
.description-composition-yeast {
    font-family: "Minion-DisplayItalic";
}

.histoire-personnage-nom {
    font-size: 60px;
    font-family: "MundaneNouveauRegular";
}

.histoire-personnage-description {
    font-size: 30px;
    font-family: "Minion-DisplayItalic";
}

.reassurance-container {
    display: flex;
    justify-content: space-around;
    padding: 50px;
}



{% endstyle %}

{% schema %}
{
    "name": "product description",
    "class" : "section",
    "settings": [
        {
            "type":"text",
            "label":"product description",
            "id":"heading"
        }
    ],
    "blocks": [
        {
            "type":"text",
            "name":"product description",
            "settings":[
            {
                "type":"text",
                "label":"description aromatic profil",
                "id":"description-aromatic-profil"
            },
            {
                "type":"text",
                "label":"description suggestion food",
                "id":"description-suggestion-food"
            },
            {
                "type":"image_picker",
                "label":"description graphique",
                "id":"description-graphique"
            },

            {
                "type": "text",
                "label": "seed",
                "id": "description-composition-seed"
            },
            
            {
                "type": "text",
                "label": "hops",
                "id": "description-composition-hops"
            },
            {
                "type": "text",
                "label": "yeast",
                "id": "description-composition-yeast"
            }
        ]
    } 
],
"presets" : [
                    {
                        "category":"image",
                        "name": "product description" 
                    }
                    ]

}
{% endschema %}


