{%for block in section.blocks %}
<div class="product-description-container">
    <div class="aromatic-suggestion-container">

        <div class = "aromatic-profil-container">
            <h2>Profil Aromatique</h2>
                <div class="description-aromatic-profil">{{product.metafields.custom-profil_aromatique}}</div>
        </div>
        <div class="suggestion-food-container">
            <h2>En accompagnement</h2>
                <div class="description-suggestion-food">{{block.settings.description-suggestion-food}}</div>
        </div>
    </div>
    <img class ="description-graphique" src="{{block.settings.description-graphique | img_url:'master'}}"/>
    <div class="ingredients-container">
        <h2>Ingrédients</h2>
            <h3>Graines</h3>
                <div class="description-composition-seed">{{block.settings.description-composition-seed}}</div>
            <h3>Houblons</h3>
                <div class="description-composition-hops">{{block.settings.description-composition-hops}}</div>
            <h3>Levures</h3>
                <div class="description-composition-yeast">{{block.settings.description-composition-yeast}}</div>
    </div>
</div>
{%endfor%}

{% style %}

.product-description-container h2, .product-description-container h3 {
	width:fit-content;
	background-color : #FCDC5C;
    color: black;
}

.product-description-container {
    display: flex;
    background-color:rgba(255, 255, 255, 0.75);
	justify-content: space-around;
	padding: 2%;
	color: black;
}

.aromatic-suggestion-container {
    display: flex;
    flex-direction: column;
	width: 30%;
}

.aromatic-profil-container{
	margin-bottom: 20px;
}

.ingredients-container {
	width:30%;
}



{% endstyle %}

{% schema %}
{
    "name": "product description",
    "class" : "section",
    "settings": [
        {
            "type":"text",
            "label":"product description",
            "id":"heading"
        }
    ],
    "blocks": [
        {
            "type":"text",
            "name":"product description",
            "settings":[
            {
                "type":"text",
                "label":"description aromatic profil",
                "id":"description-aromatic-profil"
            },
            {
                "type":"text",
                "label":"description suggestion food",
                "id":"description-suggestion-food"
            },
            {
                "type":"image_picker",
                "label":"description graphique",
                "id":"description-graphique"
            },

            {
                "type": "text",
                "label": "seed",
                "id": "description-composition-seed"
            },
            
            {
                "type": "text",
                "label": "hops",
                "id": "description-composition-hops"
            },
            {
                "type": "text",
                "label": "yeast",
                "id": "description-composition-yeast"
            }
        ]
    } 
],
"presets" : [
                    {
                        "category":"image",
                        "name": "product description" 
                    }
                    ]

}
{% endschema %}


