{%for block in section.blocks %}
    <div class="reseaux-sociaux_container" >
            <h2 class ="titre-reseaux-sociaux" >{{block.settings.titre-reseaux-sociaux}}</h2>
        <div class="reseaux-sociaux_img">

            <img class ="insta_img_1" src="{{block.settings.insta_img_1 | img_url:'master'}}"/>
            <img class ="insta_img_2" src="{{block.settings.insta_img_2 | img_url:'master'}}"/>
            <img class ="insta_img_3" src="{{block.settings.insta_img_3 | img_url:'master'}}"/>
            <img class ="insta_img_4" src="{{block.settings.insta_img_4 | img_url:'master'}}"/>

        </div>      
            <h3 class ="insta">{{block.settings.insta-reseaux-sociaux}}</h3>

    </div>
{%endfor%}

{% style %}
.reseaux-sociaux_container{
	position: relative;
	width: 100%;
	background-image: url("https://cdn.shopify.com/s/files/1/0650/7049/8025/files/Background2_home.png?v=1656155138");
    height: fit-content;
	box-sizing: border-box;
	padding-left: 9%;
}


.reseaux-sociaux_img {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
	gap: 10px;
}


h2 {
	max-width: 70%;
	color: white;
	font-size: 40px;
	font-weight: bold;
	color: white;
	margin-top: 0px;
}

h3 {
	font-size: 30px;
	color: white;
}


{% endstyle %}

{% schema %}
{
    "name": "reseaux-sociaux",
    "class" : "section",
    "settings": [
        {
            "type":"text",
            "label":"title catalog",
            "id":"heading"
        }
    ],
    "blocks": [
        {
            "type":"text",
            "name":"title catalog",
            "settings":[
                        {
                            "type":"text",
                            "label":"titre-reseaux-sociaux",
                            "id":"titre-reseaux-sociaux"
                        },

                        {
                            "type":"text",
                            "label":"insta",
                            "id":"insta-reseaux-sociaux"

                        },

                        {
                            "type":"image_picker",
                            "label":"image_1",
                            "id":"insta_img_1"
                        },

                        {
                            "type":"image_picker",
                            "label":"image_2",
                            "id":"insta_img_2"
                        },

                        {
                            "type":"image_picker",
                            "label":"image_3",
                            "id":"insta_img_3"
                        },

                        {
                            "type":"image_picker",
                            "label":"image_4",
                            "id":"insta_img_4"
                        }


                    ]
     } 
],
"presets" : [
                    {
                        "category":"image",
                        "name": "reseaux-sociaux-insta-fb" 
                    }
                    ]

}
{% endschema %}



